<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1>회원정보 조회</h1>    
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(function()
    {
        $(".btn2").click(function()
        {
            location.href = 'searchTest/';

        });
    });

</script>
<body style="text-align: center; margin-top : 200px;">
    
    <form action="/mbti/info_inquiry/searchTest/" class="was-validated" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="uname" >사용자 닉네임:</label>
          <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required style = 'width : 500px;'>
          
        </div>
        
        <div class="form-group">
            <label for="pwd" style=" margin-left: 30px; margin-top : 30px;">비밀번호:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required style = 'width : 500px; margin-left: 10px; margin-top : 30px;'>
          
        </div>

        <div class="form-group">
            <label for="email"" style=" margin-left: 30px; margin-top : 30px;">이메일:</label>
            <input type="email" class="form-control" id="password" placeholder="Enter password" name="email" required style = 'width : 500px; margin-left: 10px; margin-top : 30px;'>
          
        </div>

        
        <div class="form-group">
            <label for="num" style=" margin-left: 30px; margin-top : 30px;">인증번호:</label>
            <input type="password" class="form-control" id="certNum" placeholder="인증번호를 입력하세요." name="certNum" required style = 'width : 500px; margin-left: 10px; margin-top : 30px;'>
          
        </div>
            </label>
        </div>
        <button type="submit" class="btn btn-primary" id = 'btn2' 
            onmouseover = 'this.style.backgroundColor ="Goldenrod"' onmouseout = 'this.style.backgroundColor = "#FF026C"'
            style='margin-top : 30px ; display : flex ; justify-content: center; align-items: center; height: 60px; border-radius: 30px; width: 100px; max-width: 300px; background-color: #FF026C; font-weight: bold; color: white; font-size: 15px; cursor: pointer;  margin-left: 725px; '>조회</button>
      </form>
</body>
</html>