<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    .col-sm-4 {
        width:25%;
    }
</style>
</head>
<body>
   
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .container {
            margin-bottom: 70px;
        }
    </style>
</head>
<body style="text-align: center; ">
    <!--  
    질문 1. ㅌㅌㅌㅌㅌㅌㅌㅌㅌ<br>
    <input type="radio" name="answer1" id="answer1_1" value="1">보기1 / 
    <input type="radio" name="answer1" id="answer1_2" value="2">보기2 /
    <input type="radio" name="answer1" id="answer1_3" value="3">보기3 /
    <hr>
    질문 2. ㅌㅌㅌㅌㅌㅌㅌㅌㅌ<br>
    <input type="radio" name="answer2" id="answer2_1" value="1">보기1 / 
    <input type="radio" name="answer2" id="answer2_2" value="2">보기2 /
    <input type="radio" name="answer2" id="answer2_3" value="3">보기3 /
    <hr>
    질문 3. ㅌㅌㅌㅌㅌㅌㅌㅌㅌ<br>
    <input type="radio" name="answer3" id="answer3_1" value="1">보기1 / 
    <input type="radio" name="answer3" id="answer3_2" value="2">보기2 /
    <input type="radio" name="answer3" id="answer3_3" value="3">보기3 /
    <hr>
-->
<div class="jumbotron text-center" style = 'background-color: #F3F781; height : 150px ;width : 1100px; margin-left : 175px; '>
  <h2 style = 'font-weight : bold'>Q1. 모임에서의 첫 시간, </h2>
  <p>다른 사람에게 자신을 소개할 때 내 모습은?</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4" style="width:25%;">
      <h3>"제가 먼저 시작하겠습니다."</h3>
      <p>자신감 넘치게 당당히 일어나서 말을 한다.</p>
    
    </div>
    <div class="col-sm-4" style="width:25%;">
      <h3>Column 2</h3>
      <p>ㅋㅋㅋ</p>
    
    </div>
    <div class="col-sm-4" style="width:25%;">
      <h3>Column 3</h3>        
      <p>ㄲ</p>
      
    </div>
    <div class="col-sm-4" style="width:25%;"> 
        <h3>Column 4</h3>        
        <p>ㅉㅉ</p>
       
      </div>
  </div>
</div>

<div class="jumbotron text-center" style = 'background-color: #F3F781 ; margin-top : 70px ; height : 150px '>
    <h2 style = 'font-weight : bold'>Q2. 모임에서의 첫 시간, </h2>
    <p>다른 사람에게 자신을 소개할 때 내 모습은?</p> 
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4" style="width:25%;">
        <h3>"제가 먼저 시작하겠습니다."</h3>
        <p>자신감 넘치게 당당히 일어나서 말을 한다.</p>
      
      </div>
      <div class="col-sm-4" style="width:25%;">
        <h3>Column 2</h3>
        <p>ㅋㅋㅋ</p>
      
      </div>
      <div class="col-sm-4" style="width:25%;">
        <h3>Column 3</h3>        
        <p>ㄲ</p>
        
      </div>
      <div class="col-sm-4" style="width:25%;"> 
          <h3>Column 4</h3>        
          <p>ㅉㅉ</p>
         
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" id = 'btn2' 
  onmouseover = 'this.style.backgroundColor ="Goldenrod"' onmouseout = 'this.style.backgroundColor = "#FF026C"'
  style='margin-top : 30px ; display : flex ; justify-content: center; align-items: center; height: 60px; border-radius: 30px; width: 100px; max-width: 300px; background-color: #FF026C; font-weight: bold; color: white; font-size: 15px; cursor: pointer;  margin-left: 725px; '>다음</button>
</body>
</html>