<!DOCTYPE html>
<html lang="ko">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .container {
            margin-bottom: 70px;
        }
    </style>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(function(){
        $(".btn-btn-primary").click(function(){
        location.href = '/mbti/signin/q2/';
        });
    });
</script>
<body style="text-align: center; position : absolute">
  <form action="/mbti/signin/q2" class="was-validated" style = 'position : absolute'>  
    <div class="jumbotron text-center" style = 'background-color: #F3F781 ; margin-top : 50px ; height : 150px ; width : 1100px; margin-left : 175px; '>
      <h2 style = 'font-weight : bold'>Q1. 모임에서의 첫 시간, </h2>
      <p>다른 사람에게 자신을 소개할 때 내 모습은?</p> 
    </div>

<body style="text-align: center; ">
    <!--  
    질문 1. ㅌㅌㅌㅌㅌㅌㅌㅌㅌ<br>
    <input type="radio" name="answer1" id="answer1_1" value="1">보기1 / 
    <input type="radio" name="answer1" id="answer1_2" value="2">보기2 /
    <input type="radio" name="answer1" id="answer1_3" value="3">보기3 /
    <hr>
    질문 2. ㅌㅌㅌㅌㅌㅌㅌㅌㅌ<br>
    <input type="radio" name="answer2" id="answer2_1" value="1">보기1 / 
    <input type="radio" name="answer2" id="answer2_2" value="2">보기2 /
    <input type="radio" name="answer2" id="answer2_3" value="3">보기3 /
    <hr>
    질문 3. ㅌㅌㅌㅌㅌㅌㅌㅌㅌ<br>
    <input type="radio" name="answer3" id="answer3_1" value="1">보기1 / 
    <input type="radio" name="answer3" id="answer3_2" value="2">보기2 /
    <input type="radio" name="answer3" id="answer3_3" value="3">보기3 /
    <hr>
-->

<form action="/mbti/q2">
  <div class="jumbotron text-center" style = 'background-color: #F3F781 ; margin-top : 50px ; height : 150px ; width : 1100px; margin-left : 175px; '>
  <h2 style = 'font-weight : bold'>Q1. 모임에서의 첫 시간, </h2>
  <p>다른 사람에게 자신을 소개할 때 내 모습은?</p> 
  <input type="radio" name="q1-1" value='1'>1번
  <input type="radio" name="q1-1" value='2'>2번
  <input type="radio" name="q1-1" value='3'>3번
  <input type="radio" name="q1-1" value='4'>4번
</div>

<div class="jumbotron text-center" style = 'background-color: #F3F781 ; margin-top : 70px ; height : 150px '>
    <h2 style = 'font-weight : bold'>Q2. 모임에서의 첫 시간, </h2>
    <p>다른 사람에게 자신을 소개할 때 내 모습은?</p> 
    <input type="radio" name="q1-2" value='1'>1번
    <input type="radio" name="q1-2" value='2'>2번
    <input type="radio" name="q1-2" value='3'>3번
    <input type="radio" name="q1-1" value='4'>4번
    </div>
    
  <div class="container">
    <div class="row">
      {% if total1 %}
        {% for question in total1 %}
        
          <div class="col-sm-4" style="width:25%;">
            <h4>"제가 먼저 시작하겠습니다."</h4>
            <p>자신감 넘치게 당당히 일어나서 말을 한다.</p>
            <img src= 'https:{{question}}' width=100px, height=100px>
          </div>

            {% endfor %}
          {% endif %}
        </div>
      </div>



    <div class="jumbotron text-center" style = 'background-color: #F3F781 ; margin-top : 50px ; height : 150px ; width : 1100px; margin-left : 175px; '>
      <h2 style = 'font-weight : bold'>Q2. 모임에서의 첫 시간, </h2>
      <p>다른 사람에게 자신을 소개할 때 내 모습은?</p> 
    </div>
      
        <div class="container" style="margin-left : 145px">
          <div class="row">
            {% if total2 %}
              {% for question in total2 %}
                <div class="col-sm-4" style="width:25%;">
                  <h4>"제가 먼저 시작하겠습니다."</h4>
                  <p>자신감 넘치게 당당히 일어나서 말을 한다.</p>
                  <img src= 'https:{{question}}' width=100px, height=100px>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>

  
  <button type="submit" class="btn btn-primary" id = 'btn2' 
  onmouseover = 'this.style.backgroundColor ="Goldenrod"' onmouseout = 'this.style.backgroundColor = "#FF026C"'
  style='margin-top : 30px ; display : flex ; justify-content: center; align-items: center; height: 60px; border-radius: 30px; width: 100px; max-width: 300px; background-color: #FF026C; font-weight: bold; color: white; font-size: 15px; cursor: pointer;  margin-left: 725px; '>다음</button>
</form>
</body>

</html>