<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<style>

    html, body {
    width: 100%;
    height: 100%;
    }
    .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('http://unsplash.it/1200x800') center center no-repeat;
    background-size: cover;
}
 .bg-img:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #f3f5f7, #dc4225);
    opacity: 0.6;
}

</style>
<script>
 
</script>
<body style = 'position : relative'>
    
    <form>
    <input type="hidden" name="q1-1" value="{{q1_1}}">
    <input type="hidden" name="q1-2" value="{{q1_2}}">
    <input type="hidden" name="q2-1" value="{{q2_1}}">
    <input type="hidden" name="q2-2" value="{{q2_2}}">  
    <input type="hidden" name="q3-1" value="{{q3_1}}">
    <input type="hidden" name="q3-2" value="{{q3_2}}">
    <input type="hidden" name="q4-1" value="{{q4_1}}">
    <input type="hidden" name="q4-2" value="{{q4_2}}">
    <input type="hidden" name="q5-1" value="{{q5_1}}">
    <input type="hidden" name="q5-2" value="{{q5_2}}">
    <input type="hidden" name="q6-1" value="{{q6_1}}">
    <input type="hidden" name="q6-2" value="{{q6_2}}">
    <input type="hidden" name="q7-1" value="{{q7_1}}">
    <input type="hidden" name="q7-2" value="{{q7_2}}">
    <input type="hidden" name="q8-1" value="{{q8_1}}">
    <input type="hidden" name="q8-2" value="{{q8_2}}">
    <input type="hidden" name="uname" value="{{uname}}">
    <input type="hidden" name="password" value="{{password}}">
    <input type="hidden" name="email" value="{{email}}">
    </form>


    <div class="bg-img" >
        <h1 style="position :relative; left : 325px;top : 50px ; font-weight: bold; font-family: 'Arial' ; font-size :xxx-large" >나와 닮은 포켓몬은 ?</h1>

        <img src = 'https:{{result_image}}' style = 'font-family: "Arial"; width: 400px; height:300px; opacity : 1 ; position :absolute; left : 350px; top : 120px;'>  <!--크롤링-->
        
        <div style ='box-shadow : 1px 1px 3px black ;font-family:"Verdana"; opacity : 0.99; position :relative; left : 350px; top : 360px; font-size: 22px; width : 400px'>{{result_text}}</div>

        <div class="container" style="border: 10px solid gold ; text-align: center; opacity : 0.9 ; position: absolute; left: 350px; top: 490px; width : 980px;">
            <h2>MBTI 결과 그래프</h2>
            
            <div class="progress progress1" id="progress1" style = 'margin-top : 15px ;height : 20px' >
                <div class="progress-bar bg-E" style="width:{{test.2}}% ; background-color: #ff7301c0 ;">
                    I(내향) : {{test.2}}
                </div>
                <div class="progress-bar bg-I" style="width:{{test.1}}% ; background-color: #76a4fa ;">
                    E(외향) : {{test.1}}
                </div>
            </div>
            
            <div class="progress" style = 'margin-top : 15px ;height : 20px'>
                <div class="progress-bar bg-S" style="width:{{test.5}}%  ; background-color: #39e922b9 ;" >
                    N(직관) : {{test.5}}
                </div>
                <div class="progress-bar bg-N" style="width:{{test.4}}% ; background-color: #76a4fa ;">
                    S(감각) : {{test.4}}
                </div>
            </div>
            
            <div class="progress" style = 'margin-top : 15px; height : 20px'>
                <div class="progress-bar bg-T" style="width:{{test.7}}% ; background-color: #f200dbf8 ;" >
                    T(사고) : {{test.7}}
                </div>
                <div class="progress-bar bg-F" style="width:{{test.8}}% ; background-color: #76a4fa ; ">
                    F(감정) : {{test.8}}
                </div>
            </div>
            
            <div class="progress" style = 'margin-top : 15px ; margin-bottom: 15px; height : 20px' >
                <div class="progress-bar bg-J" style="width:{{test.11}}% ;background-color: red ;">
                    P(인식) : {{test.11}}
                </div>
                <div class="progress-bar bg-P" style="width:{{test.10}}% ; background-color: #76a4fa ; ">
                    J(판단) : {{test.10}}
                </div>
            </div>
        </div>
        
        <div class="container">
            <button class="btn btn-primary" onclick = 'location.href="http://localhost:8000/mbti"' style="opacity : 0.99; position :absolute ; top :60px ; left : 1150px">첫 화면으로 !</button>
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo" style="opacity : 0.99; position :absolute ; top :60px ; left : 1000px">결과 상세보기</button>
            <div id="demo" class="collapse" style="opacity : 0.99; position :absolute ; top :120px ; left : 830px; position : absolute">
                <div style="overflow:scroll; width:500px; height:300px; padding:10px; background-color:rgb(245, 167, 130);">
                    <b>{{result_text1}}</b>

                    <p></p>
                    <b>{{result_text2}}</b>

                    <p></p>
                    <b>{{result_text3}}</b> 
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>
